# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore CSV files
*.csv

# Ignore compiled files
*.exe
*.dll
*.so
*.dylib

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor specific files
.vscode/settings.json
.idea/

*.obj
*.pdb
